@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-primary-dark: oklch(0.1853 0.0188 284.65);
  --color-bg-primary-light: #fff;
  --color-btn-primary: oklch(91.72% 0.1254 172.56);
  --color-btn-hover: oklch(92.72% 0.1854 172.56);
  --color-dark-text: oklch(1 0 44);
  --color-border-light: #000;
  --color-border-dark: #fff;
  --text-primary: 48px;
  --text-secondary: 24px;
  --text-normal: 16px;
  --text-card-headings: 18px;
  --text-small: 14px;
  --color-primary-color: rgba(149, 149, 149, 0.749);
}

@layer base {
  * {
    font-family: "Poppins", "Poppins Fallback";
  }

  html {
    background-color: var(--color-bg-primary-light);
  }

  html.dark {
    background-color: var(--color-bg-primary-dark);
  }
}
